.logo{
    text-align: center;
 }
 
 ul{
     display: flex;
     flex-direction: column;
     gap: 15px;
     font-size: 20px;
 }
 .banner {
    
    position: center;
    margin-left: 0px;
    padding: 0 25px;
    background-color: rgb(255, 0, 128);
    height: 50px;
    display: flex;
    line-height: 50px;
    font-size: 30px;
    color: #fff;

  }
  
  .banner:before {
    content: '';
    position: absolute;
    top: 0; left: -25px;
    border-left: 26px solid rgb(255, 0, 149);
    border-top: 25px solid rgb(255, 0, 149);
    border-bottom: 26px solid rgb(255, 0, 128);
    width: 20;
  }
  
  .banner:after {
    content: '';
    position: absolute;
    top: 0; right: -25px;
    border-right: 25px solid transparent;
    border-top: 25px solid rgb(83, 83, 196);
    border-bottom: 26px solid rgb(98, 98, 218);
    width: 10;
  }
  .texto{
     display: flex;
     flex-direction: column;
     text-align: center;
     justify-content: center;
     gap: 10px;
     padding: 15px;
     font-size: 20px;
  }
